<FluentCard>
    <h2 class="headline">@Title</h2>

    <ul>
        @foreach (string item in list)
        {
            <li>@item</li>
        }
    </ul>

    <FluentStack>
        <FluentTextField @bind-Value=newEntry AriaLabel="New entry" />
        <FluentButton Appearance="Appearance.Accent" OnClick=addEntry>Add</FluentButton>

    </FluentStack>
</FluentCard>

@code {
    [Parameter]
    public required string Title { get; set; }

    List<string> list = new() { "Add something" };
    string newEntry = "";

    void addEntry()
    {
        list.Add(newEntry);
        newEntry = "";
    }
}