@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MyTheme />

<div style="margin: 1rem; padding: 0 calc(50% - 24rem);">
    <FluentStack Orientation="Orientation.Vertical">
        <MyTodo Headline="From Blazor app" />
        <my-todo Headline="From Blazor app as Web Component"></my-todo>
    </FluentStack>
</div>