.App {
    margin: 1rem;
    padding: 0 calc(50% - 24rem);
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.App-header {
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
    margin-bottom: 1rem;
    border-radius: calc(var(--layer-corner-radius, 4) * 1px);
}

@keyframes reduce-height {
    from {
        height: 20vmin;
    }
    to {
        height: 10vmin;
    }
}

@keyframes add-shadow {
    from {
        box-shadow: 0 0 0;
    }
    to {
        box-shadow: var(
            --elevation-shadow-card-rest,
            0 0 2px rgba(0, 0, 0, 0.12),
            0 calc(4 * 0.5px) calc((4 * 1px)) rgba(0, 0, 0, 0.14)
        );
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: reduce-height linear both;
        animation-timeline: scroll();
        animation-range: 0 150px;
    }

    .App-header {
        animation: add-shadow linear both;
        animation-timeline: scroll();
        animation-range: 0 150px;
    }
}
